-allowaccessmodification
-printmapping map.txt
-printseeds seeds.txt
-printusage unused.txt
-optimizationpasses 5
-repackageclasses
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-verbose

-keep public class org.music.player.* extends android.app.Activity
-keep public class org.music.player.* extends android.app.Application
-keep public class org.music.player.* extends android.app.Service
-keep public class org.music.player.* extends android.app.Fragment
-keep public class org.music.player.* extends android.content.BroadcastReceiver
-keep public class org.music.player.* extends android.content.ContentProvider
-keep public class org.music.player.* extends android.app.backup.BackupAgentHelper
-keep public class org.music.player.* extends android.preference.Preference

-keepclassmembers enum org.music.player.* {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keepclasseswithmembernames class org.music.player.* {
    native <methods>;
}

-keepclasseswithmembers class org.music.player.*,com.viewpagerindicator.*,android.support.v4.view.ViewPager {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class org.music.player.* {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class org.music.player.* extends android.app.Activity {
    public void *(android.view.View);
}

-keep class org.music.player.*,android.support.v4.view.ViewPager$SavedState implements android.os.Parcelable {
    public static final android.os.Parcelable$* *;
}

-assumenosideeffects class android.util.Log {
    public static *** d(...);
    public static *** v(...);
    public static *** i(...);
    public static *** w(...);
}

-assumenosideeffects class java.lang.String {
	public *** format(...);
}

-assumenosideeffects class junit.framework.Assert {
	<methods>;
}

-keep public class org.music.player.Compat*
-keep public class android.support.v4.view.*Compat
